.Burger {
    width: 400px;
    height: 500px;
    margin: auto;
    /* overflow: scroll;*/
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
}

@media (max-width : 600px) {
    .Burger {
        width: 80%
    }
}
